@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Low Vision Rehab Training (VR/AR)</h1>
    <p>This site holds the user data such as ID, age, experience, visual acuity (vision imparity measure) etc.</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
